.section-us {
    background-color: #000D12;
    padding: 50px 150px;
}

.info-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-text-us {
    max-width: 60%;
}

.info-img-us {
    width: 350px;
    height: 266px;
}

.h1-us {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: white;
}

.h2-us {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-top: 5px;
    color: #9A9A9A;
}

.p-us {
    color: #9A9A9A;
    text-align: left;
    padding-top: 10px;
    font-weight: 300;
    padding-bottom: 15px;
}

.link-us {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.link-us:hover{
    font-weight: 500;
    transition: 0.2s;
}

@media (max-width: 900px) {
    .info-img-us {
        display: none;
    }

    .info-us {
        justify-content: center;
        text-align: center;
    }

    .h1-us,
    .h2-us,
    .p-us {
        text-align: center;
    }

    .p-us{
        padding: 10px 0;
    }

    .h1-us {
        font-size: 25px;
    }

    .section-us {
        padding: 30px 0px;
    }

    .sect-info{
        text-align: center;
    }
}