.cont-refe {
    background-color: #000D12;
    padding: 50px 150px 50px 150px;
}

.rf-h1 {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: left;
}

.rf-h2 {
    color: white;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cont-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-logos-carousel{
    padding-top: 60px;
}

.img-logo1{
    width: 200px;
    height: 50px;
}

.img-logo2{
    width: 200px;
    height: 60px;
}

.img-logo3{
    width: 200px;
    height: 60px;
}

.img-logo4{
    width: 200px;
    height: 80px;
}

@media (max-width: 900px) {
    .cont-refe{
        padding: 50px 0px 50px 0px;
    }
    .rf-h1, .rf-h2{
        text-align: center;
    }
    .rf-h1{
        font-size: 25px;
    }
}