.main {
    padding: 100px 0 0 0;
    background-image: linear-gradient(
            to bottom right,
            #000000 0%,
            #05191c 50%
    );
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}

.cont-service{
    padding: 15px 15%;
}

.title-cont {
    display: flex;
    align-items: center;
}

.img-title {
    height: 50px;
    width: 50px;
}

.title-service {
    color: #7BCAE8;
    padding-left: 10px;
    font-size: 32px;
    font-weight: 600;
}

.desc-cont {
    padding-top: 20px;
    padding-bottom: 20px;
}

.desc-p {
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.services-info {

}

@keyframes movimiento {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}

.services-p {
    color: #7BCAE8;
    font-size: 18px;
    padding: 30px 0 30px 15%;
}


.services-list {
    padding: 80px 10%;
}

.service-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-item-info {
    max-width: 300px;
}

.service-item-title{
    color: #7BCAE8;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.service-item-desc{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: normal;
}

.service-item-img{
    height: 200px;
}

.contact-p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding-bottom: 20px;
}

