/* Hero start */
.hero-text {
    padding-top: 80px;
}

.hero-text p {
    color: #4E6EF1;
}

.hero-text h2 {
    font-family: 'JetBrains Mono', monospace;
}

.btn-pers {
    color: white;
    background-color: #4E6EF1;
}

.btn-pers:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: #000D12;
}

/* Hero end */

/* Service start */
.service-section h1,
h2 {
    font-family: "Archivo Black", sans-serif;
    color: #4E6EF1;
}

button[aria-expanded="true"] {
    background-color: white !important;
    color: black !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.icon {
    width: 40px;
    color: #4E6EF1;
}

.service-section .card {
    min-height: 300px;
}

.service-section .title,
.modal-header .title {
    color: #4E6EF1;
    font-weight: 700;
}

.modal-header .title {
    margin: 0;
}

.modal-header .btn-close {
    margin-right: 15px;
}

.modal-header img {
    padding-right: 15px;
}

.modal-body .title,
.modal-body .text-subtitle {
    color: #4E6EF1;
    font-weight: 700;
    font-size: 16px;
}

.service-section .tarjeta {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    min-height: 250px;
    display: grid;
    place-items: center;
}

.cont-tarjeta {
    min-height: 240px;
}

.tarjeta .btn {
    background-color: #4E6EF1;
    color: white;
}

.modal-body img {
    float: right;
}

@media (min-width: 768px) {
    .modal-body img {
        float: none
    }
}

.modal-body {
    padding-left: 50px;
    padding-right: 50px;
}

/* Service end */

/* Us start */

.section-us .title {
    color: #4E6EF1;
    font-weight: 700;
    font-size: 2rem;
}

.section-us .link {
    color: #4E6EF1;
    font-weight: 700;
    text-decoration: none;
}

.section-us img {
    float: left;
    margin: auto;
}

/* Us end */

/* Reference start */
.section-reference .title {
    color: #4E6EF1;
    font-weight: 700;
    font-size: 2rem;
}

.section-reference .subtitle {
    font-weight: 100;
    font-size: 15px;
    color: white;
}
/* Reference end */

/* Contact start */
.section-cont .title {
    color: #4E6EF1;
    font-weight: 700;
    font-size: 2rem;
}

.section-cont .subtitle {
    font-weight: 100;
    font-size: 18px;
    color: white;
}

.section-cont .btn{
    background-color: #4E6EF1;
    color: white;
}