/* Hero start */
.hero-text {
    padding-top: 80px;
}

.hero-text p {
    color: #4E6EF1;
}

.hero-text h2 {
    font-family: 'JetBrains Mono', monospace;
}

.btn-pers {
    color: white;
    background-color: #4E6EF1;
}

.btn-pers:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: #000D12;
}

/* Hero end */

/* Service start */
.service-section h1,
h2 {
    font-family: "Archivo Black", sans-serif;
    color: #4E6EF1;
}

button[aria-expanded="true"] {
    background-color: white !important;
    color: black !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.icon {
    width: 40px;
    color: #4E6EF1;
}

.service-section .card {
    background-color: #000D12;
}

.service-section .card{
    min-height: 300px;
}
/* Service start */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}